<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台首页</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/font-awesome/4.4.0/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg" onload="connect();">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">今天</span>
                    <h5>当前在线会员人数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="member_online">0</h1>
                    <div class="stat-percent font-bold text-navy"></div>
                    <small></small>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">今天</span>
                    <h5>当前在线服务员人数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="waiter_online">0</h1>
                    <div class="stat-percent font-bold text-danger"></div>
                    <small></small>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">今天</span>
                    <h5>当前在线管理员人数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="manager_online">0</h1>
                    <div class="stat-percent font-bold text-danger"></div>
                    <small></small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-sm-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>今日已完成订单统计</h5>
                        <div class="ibox-content no-padding">
                            <div class="ibox-content" style="height: 350px" id="order_main_today">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>系统说明</h5>
                </div>
                <div class="ibox-content">
                    <p>snake 一个采用thinkphp5开发，
                        旨在为大家提供一个可用的便捷的后台系统。
                    </p>
                    <div class="alert alert-info">
                        交流群： 159640205
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>历史已完成订单统计</h5>
                <div class="ibox-content no-padding">
                    <div class="ibox-content" style="height: 350px" id="order_main_all">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="__JS__/plugins/echarts/echarts-all.js"></script>
        <script src="__JS__/layui2/layui.all.js"></script>
<script src="__JS__/plugins/highchart/highcharts.js"></script>
    <script src="__STATIC__/chat/js/web_socket.js"></script>
        <script type="text/javascript" src="__STATIC__/admin/js/jquery.sha1.js"></script>
        <script type="text/javascript" src="__STATIC__/admin/js/request.js"></script>
        <script type="text/javascript" src="__STATIC__/admin/js/websocket_exchart.js"></script>
<audio src="__JS__/../../music/horse.ogg" controls="controls" id="audioPlayer" style="display:none">
    Your browser does not support the audio element.
</audio>
</body>
<script>
    var layer = layui.layer
</script>
</html>
