<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>菜单列表</title>
    <script type="text/javascript">
        //WebSocket = null;
    </script>
    <link href="__PUBLIC__/chat/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/chat/css/style.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/js/layui2/css/layui.css" rel="stylesheet">
    <!-- Include these three JS files: -->
    <script type="text/javascript" src="__PUBLIC__/chat/js/swfobject.js"></script>
    <script type="text/javascript" src="__PUBLIC__/chat/js/web_socket.js"></script>
    <script type="text/javascript" src="__PUBLIC__/chat/js/jquery.min.js"></script>

    <script src="__PUBLIC__/admin/js/layui2/layui.all.js"></script>
    <script src="__PUBLIC__/index/js/jquery.sha1.js"></script>
    <script src="__PUBLIC__/admin/js/vue/vue.js"></script>
    <script type="text/javascript" src="__PUBLIC__/index/js/request.js"></script>
    <script type="text/javascript" src="__PUBLIC__/index/js/websocket.js"></script>
</head>
<body onload="connect();">
<div class="container" id="app">
    <div class="row clearfix">
        <div class="layui-carousel" id="test1">
            <div carousel-item>
                <div><img :src="menuModel.image" alt="{{menuModel.name}}"></div>
            </div>
        </div>
        <div>
            <p>名称：{{menuModel.name}}</p>
            <p>价格：{{menuModel.price}}</p>
            <p>优惠价：{{menuModel.preferential_price}}</p>
            <p>销量：{{menuModel.sale_nums}}</p>
            <p>简介：<span v-html="menuModel.introduction"></span></p>
            <p>详细介绍：<span v-html="menuModel.detail"></span></p>
        </div>
    </div>
    <div>
        <div class="layui-form" id="attributions" style="display:none">
            <div class="layui-form-item" v-for="(index,item) in attributions">
                <label class="layui-form-label">{{index}}</label>
                <div class="layui-input-block">
                    <input lay-filter="change" type="radio" v-for="(index1,item1) in item" title="{{item1.specValue}}" :value="item1.specValue"  name="{{item1.specName}}" :checked="index1==0">
                </div>
            </div>
            <div class="layui-form-item" v-if="member_type==2">
                <label class="layui-form-label">选择餐桌</label>
                <div class="layui-input-block">
                    <select name="tid" lay-verify="required" v-model="tid">
                        <option v-for="(index,item) in tables" :value="item.id">{{item.sign}}--{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <p><img :src="orderModel.image" alt="{{orderModel.image}}" style="width:100px"/></p>
                <p>{{menuModel.name}}</p>
                <p>价格：{{orderModel.price}}</p>
                <p>优惠价：{{orderModel.preferential_price}}</p>
                <div class="layui-btn-group">
                    <button class="layui-btn layui-btn-sm" onclick="nums('plus');">
                        <i class="layui-icon">&#xe602;</i>
                    </button>
                    <input class="layui-btn layui-btn-sm" type="text" v-model="orderModel.nums" name="nums">
                    <button class="layui-btn layui-btn-sm" onclick="nums('add');">
                        <i class="layui-icon">&#xe654;</i>
                    </button>
                </div>
            </div>
        </div>
        <button class="layui-btn layui-btn-warm" onclick="attributions();">立即点餐</button>
    </div>
    <button class="layui-btn layui-btn-sm" onclick="menu();">返回菜单列表</button>
</div>
<script src="__PUBLIC__/index/js/jquery.sha1.js"></script>
<script>
    var carousel = layui.carousel;
    //建造实例
    carousel.render({
        elem: '#test1'
        ,width: '100%' //设置容器宽度
        ,arrow: 'always' //始终显示箭头
        //,anim: 'updown' //切换动画方式
    });
    var layer = layui.layer;
    var form = layui.form;
    function attributions(){
        layer.open({
            type: 1,
            content: $('#attributions'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
            area: ['500px', '300px'],
            btn:['确定','取消']
            ,btn2:function (index) {
                layer.close(index);
                $('#attributions').hide();
            },yes(index,layero){
                var order_params = [];
                let nums = layero.find("input[name=nums]").val();
                let mid = "{:$mid}"
                let attr_id = app.$data.orderModel.attr_id
                order_params.push({
                    nums:nums,
                    mid:mid,
                    attr_id:attr_id
                })
                if(order_params.length==0){
                    layer.close(index);
                }else {
                    let token = localStorage.getItem('token');
                    let member_type = localStorage.getItem('member_type');
                    let tid = localStorage.getItem('table_id')
                    if(member_type == 2){
                        tid = layero.find("select[name=tid]").val();
                    }
                    let post_data = {
                        'tid' : tid,
                        'order_param': JSON.stringify(order_params),
                        'token':token
                    };
                    fetchs('/api/order/index','POST',post_data).then(res=>{
                        if('200' == res.code){
                            layer.alert('点餐成功！', {title: '友情提示', icon: 1, closeBtn: 0});
                        }else if('10022' == res.code){
                            layer.alert('点餐失败！', {title: '友情提示', icon: 2});
                            window.location.reload();
                        }else{
                            layer.alert(res.msg, {title: '友情提示', icon: 2});
                        }
                        $('#attributions').hide();
                    }).catch(
                    )

                    layer.close(index);
                }
            },
            cancel: function(index){
                layer.close(index);
                $('#attributions').hide();
            }
        });
        form.render();
    }
    function get_attr(str,spec){
        let new_str = ''
        for(var i in spec){
            for(var j in spec[i].spec){
                new_str += spec[i].spec[j].specValue;
                if(str==new_str){
                    return spec[i];
                }
            }
            new_str = ''
        }
    }
    function nums(type){
        let nums = app.$data.orderModel.nums;
        if(type=='add'){
            nums +=1
        }else{
            nums -=1
        }
        if(nums <1) {
            nums = 1
        }
        //库存判断
        app.$data.orderModel.nums = nums;
    }
    function menu(){
        let token = localStorage.getItem('token');
        let href = "{:url('index/menu',['token'=>'"+token+"'])}";
        window.location.href=href;
    }
    form.on('radio(change)', function(data){
        let str = ''
        $("input[type=radio]:checked").each(function(index,value){
            str += $(this).val();
        })
        let attr = get_attr(str,app.$data.spec)
        app.$data.orderModel.price = attr.price;
        app.$data.orderModel.preferential_price = attr.preferential_price;
        app.$data.orderModel.attr_id = attr.id;
    });
</script>
<script>
    let app=new Vue({
        el:'#app',
        data:{
            menuModel:'',
            attributions:{},
            spec:[],
            orderModel:{
                image:'',
                price:0,
                preferential_price:0,
                nums:1,
                attr_id:0
            },
            tables:[],
            member_type:1,
            tid:0
        },
        methods:{
            showData:function () {
                let self=this;
                let token = localStorage.getItem('token');
                let mid = "{:$mid}";
                let member_type = localStorage.getItem('member_type');
                let tid = localStorage.getItem('tid');
                self.member_type = member_type?member_type:1;
                self.tid = tid?tid:0;
                fetchs('/api/product/detail','POST',{token:token,mid:mid}).then(res=>{
                    if(res.code=='200'){
                        self.menuModel=res.result;
                        let attrs = res.result.attributions;
                        self.attributions=attrs;
                        self.spec=res.result.spec;
                        self.orderModel.image = res.result.image;
                        let price = res.result.price
                        let preferential_price = res.result.preferential_price
                        let attr_id = 0
                        if(Object.keys(attrs).length > 0){
                            let str = ''
                            for(var i in attrs){
                                str += attrs[i][0].specValue
                            }
                            let attr = get_attr(str,self.spec)
                            price = attr.price;
                            preferential_price = attr.preferential_price;
                            attr_id = attr.id
                        }
                        self.orderModel.price = price;
                        self.orderModel.preferential_price =preferential_price;
                        self.orderModel.attr_id = attr_id
                    }else{
                        alert(res.msg)
                        window.location.href='/index/index/index';
                    }
                }).catch(res=>{
                })
                fetchs('/api/open/tables','POST',{}).then(res=>{
                    self.tables = res.result.tables;
                }).catch(res=>{

                })
            },
            order:function(){

            },
            send:function(){
                let timing=$("input[name=timing]").val();
                layer.msg(timing);
            }
        },
        ready:function () {
            this.showData();
        }
    });
</script>
<audio src="__PUBLIC__/music/horse.ogg" controls="controls" id="audioPlayer" style="display:none">
    Your browser does not support the audio element.
</audio>
</body>
</html>
