<html>
<head>
    <title>登录</title>
    <link href="__PUBLIC__/admin/js/layui2/css/layui.css" rel="stylesheet">
</head>
<body>
    <div style="width:960px">
        <form class="layui-form" action="{:url('api/open/login')}" id="form" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">手机号：</label>
                <div class="layui-input-block">
                    <input type="text" name="mobile" required  lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="__PUBLIC__/chat/js/swfobject.js"></script>
    <script type="text/javascript" src="__PUBLIC__/chat/js/web_socket.js"></script>
    <script type="text/javascript" src="__PUBLIC__/chat/js/jquery.min.js"></script>
    <script src="__PUBLIC__/admin/js/layui2/layui.all.js"></script>
    <script src="__PUBLIC__/index/js/jquery.sha1.js"></script>
    <script>
        var form = layui.form;
        form.on('submit(formDemo)', function(data){
            var timestamp = Date.parse(new Date()) / 1000
            var post_data= {
                '_timestamp': timestamp,
                'client_type': 'wap',
                'mobile': data.field.mobile,
            }
            var signature=$.sha1($.param(post_data));
            post_data.signature = signature;
            $.post('api/open/login',post_data,function(res){
                if(res.code=='200'){
                    localStorage.setItem('token',res.result.token)
                    window.location.href="{:url('index/menu',['token'=>'"+res.result.token+"'])}"
                }
            })
            return false;
        });
    </script>
</body>
</html>