<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>菜单列表</title>
    <script type="text/javascript">
        //WebSocket = null;
    </script>
    <link href="__PUBLIC__/chat/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/chat/css/style.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/js/layui2/css/layui.css" rel="stylesheet">
    <!-- Include these three JS files: -->
    <script type="text/javascript" src="__PUBLIC__/chat/js/swfobject.js"></script>
    <script type="text/javascript" src="__PUBLIC__/chat/js/web_socket.js"></script>
    <script type="text/javascript" src="__PUBLIC__/chat/js/jquery.min.js"></script>

    <script src="__PUBLIC__/admin/js/layui2/layui.all.js"></script>
    <script src="__PUBLIC__/index/js/jquery.sha1.js"></script>
    <script src="__PUBLIC__/admin/js/vue/vue.js"></script>
    <script type="text/javascript" src="__PUBLIC__/index/js/request.js"></script>

    <script type="text/javascript">
        if (typeof console == "undefined") {    this.console = { log: function (msg) {  } };}
        // 如果浏览器不支持websocket，会使用这个flash自动模拟websocket协议，此过程对开发者透明
        WEB_SOCKET_SWF_LOCATION = "__PUBLIC__/chat/swf/WebSocketMain.swf";
        // 开启flash的websocket debug
        WEB_SOCKET_DEBUG = true;

        var ws, name, client_list={};
        var uid = "{:$uid}";

        // 连接服务端
        function connect() {
            // 创建websocket
            ws = new WebSocket("ws://"+document.domain+":7272");
            // 当socket连接打开时，输入用户名
            ws.onopen = onopen;
            // 当有消息时根据消息类型显示不同信息
            ws.onmessage = onmessage;
            ws.onclose = function() {
                console.log("连接关闭，定时重连");
                connect();
            };
            ws.onerror = function() {
                console.log("出现错误");
            };
        }

        // 连接建立时发送登录信息
        function onopen()
        {
            // 登录
            var login_data = '{"type":"login","role":"user","uid":'+uid+'}';
            console.log("websocket握手成功，发送登录数据:"+login_data);
            ws.send(login_data);
        }
        // 服务端发来消息时
        function onmessage(e)
        {
            console.log(e.data);
            var data = eval("("+e.data+")");
            switch(data['type']){
                // 服务端ping客户端
                case 'ping':
                    ws.send('{"type":"pong"}');
                    break;;
                // 用户退出 更新用户列表
                case 'notice':
                   alert('您点的菜已经做好了，请到前台领餐');
                    break;
            }
        }
    </script>
</head>
<body onload="connect();">
<div class="container" id="app">
    <div class="row clearfix">
        <div>
            <p>菜单分类：</p>
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>分类id</th>
                    <th>分类名称</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(index,item) in classifyModel">
                    <td>{{index}}</td>
                    <td>{{item}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <p>菜单列表</p>
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>id</th>
                    <th>名称</th>
                    <th>效果图</th>
                    <th>价格</th>
                    <th>销量</th>
                    <th>推介指数</th>
                    <th>优惠价</th>
                    <th>规格</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(index,item) in menuModel">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td><img :src="item.image" alt="{{item.name}}"/></td>
                    <td>{{item.price}}</td>
                    <td>{{item.sale_nums}}</td>
                    <td>{{item.recommend}}星</td>
                    <td>{{item.preferential_price}}</td>
                    <td>
                        <ul>
                            <li v-for="(index1,item1) in item.attributions">
                                {{index1}}:
                                <p v-for="(index1,item2) in item1">{{item2.specValue}}</p>
                            </li>
                        </ul>
                    </td>
                    <td><button class="layui-btn layui-btn-sm" v-on:click="detail(item.id)">查看详情</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    let app=new Vue({
        el:'#app',
        data:{
            classifyModel:'',
            menuModel:'',
        },
        methods:{
            showData:function () {
                let self=this;
                let token = localStorage.getItem('token');
                fetchs('/api/product/index','POST',{token:token,oid:5}).then(res=>{
                    self.classifyModel=res.result.classify;
                    self.menuModel=res.result.menus;
                }).catch(
                )
            },
            detail:function(id){
                let token = localStorage.getItem('token');
               let href = "{:url('index/detail',['token'=>'"+token+"','mid'=>'"+id+"'])}";
               window.location.href=href;
            }
        },
        ready:function () {
            this.showData();
        }
    });
</script>
</body>
</html>
