<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>订单列表</title>
    <script type="text/javascript">
        //WebSocket = null;
    </script>
    <link href="__PUBLIC__/chat/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/chat/css/style.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/js/layui2/css/layui.css" rel="stylesheet">
    <!-- Include these three JS files: -->
    <script type="text/javascript" src="__PUBLIC__/chat/js/swfobject.js"></script>
    <script type="text/javascript" src="__PUBLIC__/chat/js/web_socket.js"></script>
    <script type="text/javascript" src="__PUBLIC__/chat/js/jquery.min.js"></script>

    <script src="__PUBLIC__/admin/js/layui2/layui.all.js"></script>
    <script src="__PUBLIC__/index/js/jquery.sha1.js"></script>
    <script src="__PUBLIC__/admin/js/vue/vue.js"></script>
    <script type="text/javascript" src="__PUBLIC__/index/js/request.js"></script>
    <script type="text/javascript" src="__PUBLIC__/index/js/websocket.js"></script>
</head>
<body onload="connect();">
<div class="container" id="app">
        <div>
            <p>订单列表</p>
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>订单号</th>
                    <th>创建时间</th>
                    <th>状态</th>
                    <th>订单金额</th>
                    <th>分订单</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(index,item) in orderModel">
                    <td>{{item.order_sn}}</td>
                    <td>{{item.created_at}}</td>
                    <td>{{status[item.status-1]}}</td>
                    <td>{{item.order_amount/100}} 元</td>
                    <td>
                        分订单
                        <ul>
                            <li v-for="(index1,item1) in item.partitions">
                                <p>子订单号：{{item1.order_partition_sn}}</p>
                                <p>购买数量：{{item1.nums}}</p>
                                <p>下单价格：{{item1.menu_price}}</p>
                                <p>菜品图片：<img :src="item1.menu_image" alt="" style="width:20px;"></p>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <button class="layui-btn layui-btn-sm" v-on:click="cancel(item.id)" v-if="item.status - 4 < 0">取消订单</button>
                        <button class="layui-btn layui-btn-sm" v-on:click="presse(item.id)" v-if="item.status - 4 < 0">催单</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="layui-btn layui-btn-sm" v-on:click="waiter()">呼叫服务员</button>
            <button class="layui-btn layui-btn-sm" v-on:click="menu()">再次点餐</button>
        </div>
    </div>
</div>
<script>
    var layer = layui.layer;
    let app=new Vue({
        el:'#app',
        data:{
            orderModel:'',
            status:['下单','菜品制作中','取餐中','无人取餐','已完成','删除','取消点餐']
        },
        methods:{
            showData:function () {
                let self=this;
                let token = localStorage.getItem('token');
                fetchs('/api/order/order_list','POST',{token:token,page:0,status:0}).then(res=>{
                    self.orderModel=res.result;
                }).catch(
                )
            },
            detail:function(id){
                let token = localStorage.getItem('token');
               let href = "{:url('index/detail',['token'=>'"+token+"','mid'=>'"+id+"'])}";
               window.location.href=href;
            },
            menu:function(){
                let token = localStorage.getItem('token');
                let href = "{:url('index/menu',['token'=>'"+token+"'])}";
                window.location.href=href;
            },
            cancel:function(oid){
                let token = localStorage.getItem('token');
                fetchs('/api/order/order_cancel','POST',{token:token,oid:oid}).then(res=>{
                    window.location.reload();
                }).catch(
                )
            },
            presse(oid){
                let token = localStorage.getItem('token');
                fetchs('/api/order/order_press','POST',{token:token,oid:oid}).then(res=>{
                    alert(res.msg)
                }).catch(res=>{
                    alert(res.msg)
                })
            },
            waiter(){
                let token = localStorage.getItem('token');
                let tid = localStorage.getItem('table_id');
                fetchs('/api/order/call_waiter','POST',{token:token,tid:tid}).then(res=>{
                    alert(res.msg)
                }).catch(res=>{
                    alert(res.msg)
                })
            }
        },
        ready:function () {
            this.showData();
        }
    });
</script>
<audio src="__PUBLIC__/music/horse.ogg" controls="controls" id="audioPlayer" style="display:none">
    Your browser does not support the audio element.
</audio>
<script>
    function play_music(){
        var audio = $("audio")[0];
        var src=$("#audioPlayer").attr('src');
        // 开始播放当前音频
        audio.play();
        setTimeout(function(){
            audio.pause()
            $("#audioPlayer").attr('src',src);
        },4000);
    }
</script>
</body>
</html>
