<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>实时点餐</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="__JS__/layui2/css/layui.css" rel="stylesheet">
</head>
<body class="gray-bg" onload="connect();">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>实时点餐</h5>
        </div>
        <div class="ibox-content">
            <div class="form-group clearfix col-sm-1">
                <span>已完成订单金额汇总：<span id="total-amount">0</span></span>
            </div>
            <!--搜索框开始-->
            <form id='commentForm' role="form" method="post" class="form-inline pull-right">
                <div class="content clearfix m-b">
                    <div class="form-group">
                        <label>用户手机号：</label>
                        <input type="text" class="form-control" id="mobile" name="mobile">
                    </div>
                    <div class="form-group">
                        <label>订单号：</label>
                        <input type="text" class="form-control" id="order_sn" name="order_sn">
                    </div>
                    <div class="form-group">
                        <label>开始时间：</label>
                        <input type="text" class="form-control" id="time_start" name="time_start">
                    </div>
                    <div class="form-group">
                        <label>结束时间：</label>
                        <input type="text" class="form-control" id="time_end" name="time_end">
                    </div>
                    <div class="form-group">
                        <label>订单状态：</label>
                        <select name="status" class="form-control" id="status">
                            <option value="0" selected="selected">全部</option>
                            <option value="7">已取消</option>
                            <option value="1">已下单</option>
                            <option value="2">制作中</option>
                            <option value="3">取餐中</option>
                            <option value="5">已完成</option>
                            <option value="4">无人取餐</option>
                            <option value="6">已删除</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="button" style="margin-top:5px" id="search"><strong>搜 索</strong>
                        </button>
                    </div>
                </div>
            </form>
            <!--搜索框结束-->

            <div class="example-wrap">
                <div class="example">
                    <table id="cusTable">
                        <thead>
                        <th data-field="order_sn">订单号</th>
                        <th data-field="member_mobile">用户手机号</th>
                        <th data-field="table_name">餐桌</th>
                        <th data-field="created_at">下单时间</th>
                        <th data-field="order_info">点餐内容</th>
                        <th data-field="type">下单方式</th>
                        <th data-field="status">订单状态</th>
                        <th data-field="operate">操作</th>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="__JS__/layui2/layui.all.js"></script>
<script src="__STATIC__/chat/js/swfobject.js"></script>
<script src="__STATIC__/chat/js/web_socket.js"></script>
<script src="__STATIC__/index/js/jquery.sha1.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/request.js"></script>
<script type="text/javascript">
    if (typeof console == "undefined") {    this.console = { log: function (msg) {  } };}
    // 如果浏览器不支持websocket，会使用这个flash自动模拟websocket协议，此过程对开发者透明
    WEB_SOCKET_SWF_LOCATION = "__PUBLIC__/chat/swf/WebSocketMain.swf";
    // 开启flash的websocket debug
    WEB_SOCKET_DEBUG = true;

    var ws, name, client_list={};
    var uid = "{:$uid}";

    // 连接服务端
    function connect() {
        // 创建websocket
        //ws = new WebSocket("ws://127.0.0.1:7272");
        ws = new WebSocket("ws://1457558ty1.51mypc.cn:49485");
        // 当socket连接打开时，输入用户名
        ws.onopen = onopen;
        // 当有消息时根据消息类型显示不同信息
        ws.onmessage = onmessage;
        ws.onclose = function() {
            console.log("连接关闭，定时重连");
            connect();
        };
        ws.onerror = function() {
            console.log("出现错误");
        };
    }

    // 连接建立时发送登录信息
    function onopen()
    {
        // 登录
        var login_data = '{"type":"login","role":"admin","uid":'+uid+'}';
        console.log("websocket握手成功，发送登录数据:"+login_data);
        ws.send(login_data);
    }
    // 服务端发来消息时
    function onmessage(e)
    {
        console.log(e.data);
        var data = eval("("+e.data+")");
        switch(data['type']){
            // 服务端ping客户端
            case 'ping':
                ws.send('{"type":"pong"}');
                break;
            case 'order_menu':
                play_music()
                layer.open({
                    title: '订餐提示'
                    ,content: '用户下单了，单号：'+data['order_sn'],
                    yes:function(index, layero){
                        fetchs('/api/message/changestatus','POST',{mids:""+data['mids'],status:1}).then(res=>{
                            if('200' == res.code){
                                layer.alert('消息已确认！', {title: '友情提示', icon: 1, closeBtn: 0},function(){
                                    initTable();
                                });
                            }
                        }).catch(
                        )
                        layer.close(index);
                    }
                });
                break;
            case 'press':
                console.log("接收催单数据："+data)
                play_music()
                layer.open({
                    title: '订餐提示'
                    ,content: '用户催单了！订单号'+data['order_sn'],
                    yes:function(index, layero){
                        fetchs('/api/message/changestatus','POST',{mids:""+data['mids'],status:1}).then(res=>{
                            if('200' == res.code){
                                layer.alert('消息已确认！', {title: '友情提示', icon: 1, closeBtn: 0},function(){
                                    initTable();
                                });
                            }
                        }).catch(
                        )
                        layer.close(index);
                    }
                });
                break;
        }
    }
    //制作
    function ws_notice(mid){
        var order_data = '{"type":"notice","oid":'+mid+'}';
        ws.send(order_data);
    }
</script>
<script type="text/javascript">
    var layer = layui.layer
    var form = layui.form;
    var laydate = layui.laydate;
    laydate.render({
        elem: '#time_start', //指定元素
        type: 'datetime'
    });
    laydate.render({
        elem: '#time_end', //指定元素
        type: 'datetime'
    });
    function initTable() {
        //先销毁表格
        $('#cusTable').bootstrapTable('destroy');
        //初始化表格,动态从服务器加载数据
        $("#cusTable").bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "{:url('order/index')}", //获取数据的地址
            striped: true,  //表格显示条纹
            pagination: true, //启动分页
            pageSize: 50,  //每页显示的记录数
            pageNumber:1, //当前第几页
            pageList: [50, 100, 150],  //记录数可选列表
            sidePagination: "server", //表示服务端请求
            paginationFirstText: "首页",
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            paginationLastText: "尾页",
            queryParamsType : "undefined",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    mobile:$('#mobile').val(),
                    order_sn:$('#order_sn').val(),
                    status:$('#status').val(),
                    timeStart:$('#time_start').val(),
                    timeEnd:$('#time_end').val(),
                };
                return param;
            },
            onLoadSuccess: function(res){  //加载成功时执行
                if(111 == res.code){
                    window.location.reload();
                }
                $("#total-amount").text(res.total_amount + '元');
                layer.msg("加载成功", {time : 1000});
            },
            onLoadError: function(){  //加载失败时执行
                layer.msg("加载数据失败");
            }
        });

    }
    $(document).ready(function () {
        //调用函数，初始化表格
        initTable();

        //当点击查询按钮的时候执行
        $("#search").bind("click", initTable);

    })

    function statusChange(mid,status){
        layer.confirm('确认更新订单状态吗?', {icon: 3, title:'提示'}, function(index){
            $.getJSON("{:url('order/status')}", {'mid' : mid, 'status': status}, function(res){
                if(1 == res.code){
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function(){
                        initTable();
                    });
                }else if(111 == res.code){
                    window.location.reload();
                }else{
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });
            layer.close(index);
        })
    }
    function noGet(mid){
        layer.confirm('确认更新订单状态吗?', {icon: 3, title:'提示'}, function(index){
            $.getJSON("{:url('order/no_get')}", {'mid' : mid}, function(res){
                if(1 == res.code){
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function(){
                        initTable();
                    });
                }else if(111 == res.code){
                    window.location.reload();
                }else{
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });
            layer.close(index);
        })
    }
    function notice(mid) {
        $.getJSON("{:url('order/partitions')}", {'oid' : mid}, function(res){
            var partitions = res;
            var _html='';
            _html+="<form class='layui-form' action='' id='notice'>";
            _html+="<div class='layui-form-item'>";
            _html+="<label class='layui-form-label'>菜品：</label>";
            _html+="<div class='layui-input-block'>";
            for(var i in res){
                var menu_order = res[i].name + ' ' + res[i].spec;
                if(res[i].status == 3) {
                    _html += "<input type='checkbox' name='menu_order' checked title='" + menu_order + "' value='" + res[i].order_partition_id + "'>";
                }else if(res[i].status >=5){
                    _html += "<input type='checkbox' name='menu_order' disabled title='" + menu_order + "' value='" + res[i].order_partition_id + "'>";
                }else{
                    _html+="<input type='checkbox' name='menu_order' title='"+menu_order+"' value='"+res[i].order_partition_id+"'>";
                }
            }
            _html+="</div>";
            _html+="</div>";
            _html+="</form>";
            layer.open({
                type:1,
                title: '通知取餐'
                ,content:_html
                ,btn:['确定','取消']
                ,btn2:function (index) {
                    layer.close(index);
                },yes(index,layero){
                    var order_partition_ids = [];
                    layero.find("input[name=menu_order]:checked").each(function(){
                        order_partition_ids.push($(this).val())
                    })
                    if(order_partition_ids.length==0){
                        layer.close(index);
                    }else {
                        $.getJSON("{:url('order/notice')}", {'oid' : mid, 'order_partition_ids': order_partition_ids}, function(res){
                            if(1 == res.code){
                                layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function(){
                                    initTable();
                                    setTimeout(ws_notice(mid),3000);
                                });
                            }else if(111 == res.code){
                                window.location.reload();
                            }else{
                                layer.alert(res.msg, {title: '友情提示', icon: 2});
                            }
                        });
                        layer.close(index);
                    }
                }
            });
            /* 渲染表单 */
            form.render();
        });
    }
</script>
<!--<audio src="__JS__/../../music/horse.ogg" controls="controls" id="audioPlayer">
    Your browser does not support the audio element.
</audio>-->
<audio src="__JS__/../../music/test.mp3" controls="controls" id="audioPlayer" style="display:none">
    Your browser does not support the audio element.
</audio>
<script>
    function play_music(){
        var audio = $("audio")[0];
        var src=$("#audioPlayer").attr('src');
        // 开始播放当前点击的音频
        audio.play();
        setTimeout(function(){
            audio.pause()
            $("#audioPlayer").attr('src',src);
        },4000);
    }
</script>
</body>
</html>
